@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');
html, body {
    background-color: #000080;
    width: 100vw;
    height: 100vh;
    position: fixed; /* Use fixed positioning to lock the viewport */
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    display: flex;
    overflow: hidden; /* Prevents scrolling */
    touch-action: none; /* Prevents scrolling on mobile touch events */
    font-family: "SUSE", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    user-select: none;
    
}

.heart {
    position: absolute; /* Absolute positioning for hearts */
    width: 30px;
}

@keyframes sway {
    0% {
        transform: translateY(0) translateX(0); /* Start from the initial position */
    }
    100% {
        transform: translateY(100vh) translateX(50px); /* Move down and slightly to the right */
    }
}

.name {
    align-self: center;
    justify-self: center;
    color:whitesmoke;
    width:100vw;
    text-align: center;
    z-index: 1;
}

.text {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.fade-in {
    opacity: 1;
}

